<nav class="app-menu-sidebar hidden md:block">
  <ul>
    <li>
      <a class="app-menu-icon mb-11 mt-2">
        <i class="pi pi-bars"></i>
      </a>
    </li>

    @for (item of items; track item.label) {
      <li>
        <a
          class="app-link-item hover:bg-[#e5eaec]"
          routerLinkActive="app-router-active"
          [routerLink]="item['route']"
        >
          <i [class]="['pi', item.icon]"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>
</nav>
