<p-menu [model]="items" class="flex justify-between" styleClass="w-full">
  <ng-template #start>
    <span class="inline-flex items-center px-2 py-2"> Menu icon </span>
  </ng-template>
  <ng-template #submenuheader let-item>
    <span class="text-primary font-bold">{{ item.label }}</span>
  </ng-template>
  <ng-template #item let-item>
    <a pRipple class="flex items-center p-menu-item-link">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
    </a>
  </ng-template>
  <ng-template #end>
    <a pRipple class="flex items-center p-menu-item-link">
      <span></span>
      <span class="ml-2">Xmission</span>
    </a>
    <a pRipple class="flex items-center p-menu-item-link">
      <span></span>
      <span class="ml-2">Loja</span>
    </a>
  </ng-template>
</p-menu>
