<p-card
  styleClass="max-w-80 h-[420px] overflow-hidden relative flex justify-between"
>
  <ng-template #header>
    @if (imageSrc() && imageSrc() !== "") {
      <img
        class="w-full"
        width="300"
        height="200"
        priority
        [alt]="'Image do evento: ' + appTitle()"
        [ngSrc]="imageSrc()"
      />
    } @else {
      <img
        class="w-full"
        width="300"
        height="200"
        priority
        alt="Evento sem imagem definida"
        ngSrc="images/no-image.png"
      />
    }
  </ng-template>
  <h2 class="font-bold py-2 mb-1">{{ appTitle() }}</h2>
  <span
    class="px-4 py-2 bg-white shadow-md rounded-xl absolute top-[195px] left-[20px] font-semibold text-sm"
    >{{ status() }}</span
  >
  <p class="text-sm">{{ description() }}</p>
  <ng-template #footer>
    <div class="flex mt-1 flex-row justify-between items-center">
      <div class="app-created-at">
        <p class="text-[var(--p-button-success-border-color)]">Publicado em</p>
        <div class="app-created-at">
          {{ createdAt() | cardCreatedAtFormatter }}
        </div>
      </div>
      <div class="app-button-actions self-end">
        <span class="app-action">
          <p-button
            size="large"
            variant="text"
            [outlined]="false"
            severity="secondary"
          >
            <i class="pi pi-pencil"></i>
          </p-button>
        </span>
        <span class="app-action">
          <p-button
            size="large"
            variant="text"
            [outlined]="false"
            severity="secondary"
          >
            <i class="pi pi-trash"></i>
          </p-button>
        </span>
      </div>
    </div>
  </ng-template>
</p-card>
