<p-card styleClass="max-w-80 h-[420px] overflow-hidden flex justify-between">
  <ng-template #header>
    <div class="w-full h-full relative">
      @if (imageSrc() && imageSrc() !== "" && imageSrc() !== undefined) {
        <img
          class="w-full"
          width="320"
          height="213.33"
          priority
          [alt]="'Image do evento: ' + appTitle()"
          [ngSrc]="imageSrc()"
        />
      } @else {
        <img
          class="w-full"
          width="320"
          height="213.33"
          priority
          alt="Evento sem imagem definida"
          ngSrc="images/no-image.png"
        />
      }

      <span
        class="px-4 py-2 bg-white shadow-md rounded-xl absolute bottom-[-20px] left-[20px] font-semibold text-sm"
      >
        {{ status() }}
      </span>
    </div>
  </ng-template>
  <h2 class="font-bold py-2 mb-1 break-words">{{ appTitle() }}</h2>
  <p class="text-sm break-words min-h-10">{{ description() }}</p>
  <ng-template #footer>
    <div class="flex mt-1 flex-row justify-between items-center">
      <div class="app-created-at">
        <p class="text-[var(--p-button-success-border-color)]">Publicado em</p>
        <div class="app-created-at">
          {{ createdAt() | cardCreatedAtFormatter }}
        </div>
      </div>
      <div class="app-button-actions self-end">
        <span class="app-action">
          <p-button
            size="large"
            variant="text"
            severity="secondary"
            [outlined]="false"
            (onClick)="editButtonClick()"
          >
            <i class="pi pi-pencil"></i>
          </p-button>
        </span>
        <span class="app-action">
          <p-button
            size="large"
            variant="text"
            severity="secondary"
            (onClick)="deleteButtonClick($event)"
            [outlined]="false"
          >
            <i class="pi pi-trash"></i>
          </p-button>
        </span>
      </div>
    </div>
  </ng-template>
</p-card>
