<form class="app-sign-up-form">
  <h1 class="app-title">Cadastre-se na Inchurch</h1>
  <div class="app-sign-up-info-area">
    <label for="email">Nome</label>
    <input pInputText type="text" id="name" placeholder="Informe o seu nome" />
  </div>
  <div class="app-sign-up-info-area">
    <label for="email">E-mail</label>
    <input
      pInputText
      id="email"
      type="email"
      placeholder="Informe o seu email"
      aria-describedby="email-help"
    />
    <small id="email-help"> Ex: email&#64;email.com </small>
  </div>
  <p-button label="Cadastrar" class="app-submit" />
  <p-button label="Fazer Login" [link]="true" routerLink="/auth/signin" />
</form>
